!!!
%html
  %head
    %title Correlate
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand
            = link_to "Correlate", root_url
          %ul.nav
            - if user_signed_in?
              %li= link_to "Sign Out", destroy_user_session_path
            - else
              %li= link_to "Create Account", new_user_registration_path
              %li= link_to "Sign In", new_user_session_path
        
      
    .container
      .content{role: "main"}
        = yield
    
